body {
    //   background-color: #444;
    margin: 0;

}


body .container {
    padding-right: 50px;
    padding-left: 50px;
}

.input .col-md-12 button {
    margin: 22px 45px 22px 0px;
}

#diffoutput {
    margin-top: 50px;
}

body .CodeMirror {
    font-family: monospace;
    height: 441px;
    /* color: black;*/
    /*  border: 1px solid rgba(100, 100, 100, 0.25);*/
    
      border: 1px solid #BBC;

}


 
 body .CodeMirror-empty {
   /*  outline: 1px solid #c22;*/
   font-size: 25px;
   opacity: 0.5;


 }
 
 body .CodeMirror-empty.CodeMirror-focused {
   /*  outline: none;*/
 }
 
 body .CodeMirror pre.CodeMirror-placeholder {
   /*  color: #999;*/
 }



body table.diff tbody td {
  padding: 0px .4em;
  padding-top: .4em;
  vertical-align: top;
  width: 50%;
}

label {
  display: inline-block;
  max-width: 77%;
  margin-bottom: 5px;
  color: rgb(113, 113, 113);
  font-weight: 500;
}

label.fileLabel input[type="file"] {
 //   position: fixed;
  /*  display: none;*/

    position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
   border: 2px solid #1ECD97;
  filter: alpha(opacity=0);
}
/***** Example custom styling *****/

.fileLabel {
    padding: 12px;
    text-align: center;
    font-size: 25px;
    color: #1ECD97;
    /*  background: #F0F0F0;*/
    
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #1ECD97;
    width: 100%;
    background-color: #FFF;
    transition: 0.4s;
    cursor: pointer;
}

.fileLabel:hover {
    /*  background: #CCC;*/
    
    background-color: #1ECD97;
    color: #FFF;
}

.container h1 {
    color: gray;
}

#compareBtn {
    color: gray;
}

.compareBtn {
    /* placing */
    
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    
    height: 60px;
    width: 150px;
    background-color: #FFF;
    border: 2px solid #1ECD97;
    /*    border-radius: 50px;*/
    
    color: #1ECD97;
    font-size: 25px;
    /*  font-family: Montserrat;*/
    
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.compareBtn:hover {
    background-color: #1ECD97;
    color: #FFF;
    transition: 0.4s;
}

/*.compareBtn:active::after {
    background-color: #1ECD97;
    color: #FFF;
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;

  content: '';
  display: block;
  position: relative;
  z-index: 100;
}*/

.success {
    /* placing */
    
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    
    height: 60px;
    width: 150px;
    background-color: #1ECD97;
    color: #FFF;
    border: 2px solid #1ECD97;
    border-radius: 50px;
    font-size: 16px;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

body table.diff tbody th {
 /* font-family: verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;*/
  background: #F7F7F7;
 /* font-size: 11px;
  font-weight: normal;
  border: 1px solid #BBC;
  color: #886;
  padding: .3em .5em .1em 2em;
  text-align: right;
  vertical-align: top;*/
}

body table.diff thead th.texttitle {
  text-align: left;
  font-size: 17px;
}
#diffinfo {
  height: 50px;
  display: block;
  padding: 30px;
  font-size: 23px;
  color: rgb(131, 131, 131);
  text-transform: uppercase;
}

  .btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}



@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 60px;
    width: 60px;
    margin-left: -12px;
    margin-top: -12px ;
    opacity: 0.0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0.0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0.0;
  }
}

label.opLabel  input[type=checkbox]{

  outline: none;
}


body .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}
body .option-input:hover {
  background: #9faab7;
}
body .option-input:checked {
  background: #1ECD97;
}
body .option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
 body .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #1ECD97;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

/*body  .opchecked{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -ms-flex-align: stretch;
  background: #e8ebee;
  color: #9faab7;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
}
body div {
  padding: 5rem;
}
body label {
  display: block;
  line-height: 40px;
}*/
